<h1>Welcome</h1><br><br>
<p>
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>Click here to register for Digital Commerce Course
  <% end %><br><br>
  <%= button_tag(type: 'submit', class: "btn btn-info") do %>Click here to register for Interior Design Course
  <% end %><br><br>
  <%= button_tag(type: 'submit', class: "btn btn-danger") do %>Click here to register for Social Media Marketing Course
  <% end %><br><br>
</p>
