<h1>Welcome</h1><br><br>
<p>
  <h5>
    <%= link_to 'Click here', root_path %> to register for Digital Commerce Course
  </h5><br>
  <h5>
    <%= link_to 'Click here', root_path %> to register for Interior Design Course
  </h5><br>
  <h5>
    <%= link_to 'Click here', root_path %> to register for Social Media Marketing Course
  </h5><br>
</p>